/* div {
    background-color: #eee;
    width: 400px;
    padding: 10px;
    margin: 40px auto 0 auto;
    height: 190px;
    border: 1px solid;
    border-bottom: 3px solid rgb(255, 0, 13);
    border-top: 3px solid rgb(255, 0, 13);
    border-left: 3px solid rgba(0, 0, 255, 0.691);
    border-right: 3px solid rgba(0, 0, 255, 0.691);
    text-align: center;
    font-size: 19px;
    font-family: sans-serif;
    position: relative;
    left: 1%;
    top: 20px;
}

div .top-left {
    border-top: 1px solid rgba(0, 0, 255, 0.691);
    border-right: 3px solid rgb(255, 0, 13);
    border-left: 1px solid rgba(0, 0, 255, 0.691);
    width: 29px;
    background-color: rgba(0, 0, 255, 0.691);
    color: white;
    position: absolute;
    top: -14px;
    left: -16px;
}

div .top-right {
    border-top: 1px solid rgba(0, 0, 255, 0.691);
    border-right: 3px solid rgba(0, 0, 255, 0.691);
    border-left: 3px solid rgb(255, 0, 13);
    width: 29px;
    background-color: rgba(0, 0, 255, 0.691);
    color: white;
    position: absolute;
    bottom: -12px;
    right: -16px;
}

div .bottom-left {
    border-top: 1px solid rgba(0, 0, 255, 0.691);
    border-right: 3px solid rgba(0, 0, 255, 0.691);
    border-left: 3px solid rgb(255, 0, 13);
    width: 29px;
    background-color: rgba(0, 0, 255, 0.691);
    color: white;
    position: absolute;
    top: -14px;
    right: -16px;
}

div .bottom-right {
    border-left: 3px solid rgba(0, 0, 255, 0.691);
    border-right: 3px solid rgb(255, 0, 13);
    width: 29px;
    background-color: rgba(0, 0, 255, 0.691);
    color: white;
    position: absolute;
    bottom: -12px;
    left: -16px;
} */
/* div {
    width: 296px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ececec;
    text-align: center;
    margin-top: 13px;
}

div:empty {
    background: #ff0000;
} */
/* div {
    width: 302px;
    height: 44px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    background-color: #ececec;
    text-align: center;
    margin-top: 13px;
    position: relative;
}

div::first-letter {
    color: white;
    background-color: red;
    border: 2px solid red;
    padding: 3px;
    position: absolute;
    float: left;
    margin-left: -11px;
    margin-top: -3px;

} */

p {
    width: 355px;
    height: 42px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    background-color: #ececec;
    text-align: center;
    margin-top: 13px;
    position: relative;
    border-left: 2px solid red;
}

p::before {
    content: attr(data-person);
    color: #000000;
    position: absolute;
    right: 106%;
    top: 3%;
    background-color: #ececec;
    padding: 7px;
    width: 77px;
    text-align: center;
    display: inline-block;
}

p::after {
    content: "";
    position: absolute;
    right: 100%;
    top: 12px;
    height: 17px;
    width: 11px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent red transparent transparent;

}