.Shape-one {
    display: inline;
    background-color: rgba(193, 189, 189, 0.704);
    border: red 3px solid;
    outline: black solid 2px;
    margin: 5px;
}

.Shape-two {
    display: inline;
    background-color: rgba(193, 189, 189, 0.704);
    border-left: blue solid 3px;
    border-right: blue solid 3px;
    border-top: green solid 3px;
    border-bottom: green solid 3px;
    outline: black solid 2px;

}

.Shape-three {
    display: inline;
    background-color: rgba(255, 255, 255, 0.704);
    border-left: blue dashed 3px;
    border-right: blue dashed 3px;
    border-top: green dashed 3px;
    border-bottom: green dashed 3px;
    outline: black solid 2px;
    margin: 5px;
}

.element {
    margin-top: 20px;
    width: 400px;
    padding: 6px;
    margin-left: 10px;
    border-left: rgb(0, 98, 255) solid 4px;
    background-color: rgba(174, 160, 160, 0.659);
    outline: rgba(174, 160, 160, 0.659) solid 9px;
}